<ion-header>
  <ion-toolbar class="toolbar-background-webner">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Sales Off
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/topo_ionic.png" alt="" />
      <ion-card-header>
        <ion-card-title>Tabela offline</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Bem vindo ao protótipo do Sales Off.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Recursos e funções</ion-label>
      </ion-list-header>
      <ion-item href="/list">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Tabelas de preço</ion-label>
      </ion-item>
      <ion-item href="#">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Produtos</ion-label>
      </ion-item>
      <ion-item href="#">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Usuário</ion-label>
      </ion-item>
      <ion-item href="#">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Sincronismo</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
